<div class="wrapper">
    <div class="body">
        <img class="logo" src="../../../assets/img/usuario.png" alt="login">
        <h1>Login</h1>
        <form>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email </label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-primary" type="button">Ingresar</button>
              </div>
              <p class="mt-3">¿No tienes cuenta? <a routerLink="/registro-usuario">Registrarme</a></p>
              <a class="mt-3" routerLink="/rec-password">Recuperar mi contraseña</a>
            </form>
          </div>
    </div>

